@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (light mode) styles */
:root {
  --background: #ffffff;
  --foreground: #000000;
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #000000;
  --primary-foreground: #ffffff;
  --secondary: #f5f5f5;
  --secondary-foreground: #000000;
  --muted: #f5f5f5;
  --muted-foreground: #767676;
  --accent: #f5f5f5;
  --accent-foreground: #000000;
  --destructive: #ff4d4d;
  --destructive-foreground: #ffffff;
  --border: #e0e0e0;
  --input: #e0e0e0;
  --ring: #000000;
  --chart-1: #ff8c00;
  --chart-2: #00bfff;
  --chart-3: #ff69b4;
  --chart-4: #32cd32;
  --chart-5: #ff4500;
  --radius: 0.5rem;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --card: #1c1c1c;
    --card-foreground: #ffffff;
    --popover: #1c1c1c;
    --popover-foreground: #ffffff;
    --primary: #ffffff;
    --primary-foreground: #000000;
    --secondary: #2c2c2c;
    --secondary-foreground: #ffffff;
    --muted: #2c2c2c;
    --muted-foreground: #b3b3b3;
    --accent: #2c2c2c;
    --accent-foreground: #ffffff;
    --destructive: #ff4d4d;
    --destructive-foreground: #ffffff;
    --border: #3c3c3c;
    --input: #3c3c3c;
    --ring: #ffffff;
    --chart-1: #ff8c00;
    --chart-2: #00bfff;
    --chart-3: #ff69b4;
    --chart-4: #32cd32;
    --chart-5: #ff4500;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.smooth-render-element {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.smooth-render-element.visible {
  opacity: 1;
}
